<div class="sidebar-nav">
    <span class="d-flex justify-content-center logo">
        <a class="  " href="#">
            <img src="../../../assets/SVG/22.svg" alt="" width="36" height="36"
                class="d-inline-block align-text-bottom">
        </a>
    </span>

    <div class="card rounded-0 border-0 pt-3">

        <ul>
            <li>
                <a class="pr-2" href="#">
                    <img src="../../../assets/SVG/15.svg" alt="" width="25" height="25" class=" ">
                </a>
            </li>
            

            <li>
                <a class="pr-2" href="#">
                    <img src="../../../assets/SVG/15.svg" alt="" width="25" height="25" class=" ">
                </a>
            </li>


            <li>
                <a class="pr-2" href="#">
                    <img src="../../../assets/SVG/17.svg" alt="" width="25" height="25" class=" ">
                </a>
            </li>
        </ul>


    </div>
</div>