<form #settinForm="ngForm" class="card rounded-0 p-1 vh-100">
  <fieldset>
    <legend class="p-2">Settings</legend>
    <div class="rounded-0 mb-3">
      <label for="QuranText" class="form-label">Quran Text</label>
      <select
        id="QuranText"
        class="form-select rounded-0"
        name="QuranText"
        [(ngModel)]="QuranText"
      >
        <ng-container *ngFor="let lng of QuranTextOptions">
          <option value="{{ lng.identifier }}">{{ lng.englishName }}</option>
        </ng-container>
      </select>
    </div>

    <div class="rounded-0 mb-3">
      <!-- <label for="language" class="form-label">Language</label>
      <select
        id="language"
        class="form-select rounded-0"
        name="language"
        [(ngModel)]="language"
        (change)="filterTranslation(settinForm.value)"
      >
        <ng-container *ngFor="let lng of LanguageOptions">
          <option value="{{ lng.code }}">
            {{ lng.name }} | ({{ lng.nativeName }})
          </option>
        </ng-container>
      </select> -->

      <label for="translationText" class="form-label">Translation Text</label>
      <select
        id="translationText"
        class="form-select rounded-0"
        name="translationText"
        [(ngModel)]="TranslationText"
      >
        <ng-container *ngFor="let text of TranslationTextOption">
          <option value="{{ text.identifier }}">{{text.languageName}} : ({{ text.name }})</option>
        </ng-container>
      </select>

      <label for="translationAudio" class="form-label">Translation Audio</label>
      <select
        id="translationAudio"
        class="form-select rounded-0"
        name="translationAudio"
        [(ngModel)]="translationAudio"
      >
      <ng-container *ngFor="let text of TranslationAudioOption">
        <option value="{{ text.identifier }}">{{text.languageName}} : ({{ text.name }})</option>
      </ng-container>
      </select>
    </div>
    <a
      (click)="updateSetting(settinForm)"
      class="btn rounded-0 p-2 w-100"
      style="background-color: #20c9977a"
      >Save</a
    >
  </fieldset>
</form>
