<a class="text-decoration-none card m-1">
    <div class="card-header" style="background-color: #20c9977a">
      <span style="display: inline-block;">
        <div class="footer-field"><strong> {{card.number}}</strong></div>
      </span><b> {{card.englishName}}</b>
    </div>

    <div class="card-body">
      <h5 class="d-flex justify-content-between card-title">
        <span>{{card.englishNameTranslation}}</span>
        <span dir="rtl">{{card.name}}</span>
      </h5>
      <p class="card-text"> </p>
      <blockquote class="blockquote mb-0">

        <footer class="blockquote-footer"> <cite title="Source Title"
            class="d-flex justify-content-between"><span>Ayahs: {{card.numberOfAyahs}} </span>
            <span>{{card.revelationType}}</span></cite> </footer>
      </blockquote>

    </div>
  </a>
