<div class="card rounded-0">
    <!-- <div class="card-body"> -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- <img src="../../../assets/SVG/22.svg" alt="" width="38" height="38" -->
                    <!-- class="d-inline-block align-text-bottom"> -->
                <!-- Al Quran -->
            </a>

            <div>
                <img class="rounded-circle bg-dark m-2" src="../../../assets/SVG/13.svg" alt="notification" width="30" height="30"
                class="d-inline-block align-text-center">

                <img class="rounded-circle bg-dark p-1" src="../../../assets/SVG/4.svg" alt="profileImg" width="25" height="25" 
                class="d-inline-block align-text-bottom"> 
                Saifu
            </div>
        </div>
    </nav>
    <!-- </div> -->
</div>