#toggleTheme{
    display: none;
  } 

label{
  width: 45px;
  height: 20px;
  margin-left: 4px;
  border-radius: 20px;
  background-color: #fffcfc;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  outline: 1px solid #232323;
}

label::after{
  content: '';
  width: 18px;
  height: 17px;
  position: absolute;
  right: 0px;
  border-radius: 50%;
  box-shadow: inset 16px -15px 0px 0px rgb(255, 204, 18);
  margin: 1px;
  transition: 0.4s;
}

input:checked + label::after{
  transform: translateX(-24px); 
  box-shadow: inset 5px -2px 0px 0px #fffcfc;

}

input:checked + label{ 
  background-color: #232323;

}