<div class="card rounded-0 m-0" *ngIf="surah.data">
    <div class="card-header rounded-0 text-center" style="background-color: #20c9977a">
        <h5 class="card-title">
            ({{surah.data[0].englishName}}) {{surah.data[0].name}} 
        </h5>
        {{bismillah}}
        <!-- <img src="../../../assets/SVG/bismillah.svg" alt="bismillah" width="200pt"> -->
    </div>
    <ul class="list-group list-group-flush p-0" >
      <li class="list-group-item" *ngFor="let aya of surah.data[0].ayahs;index as i">
        <span class="d-flex align-items-center flex-row-reverse">
          <strong  class="m-2" style="max-width: 90%;">{{aya.text}}</strong> 
          <div   class="footer-field"><strong> {{aya.numberInSurah}}</strong></div>
        </span>
        <span *ngIf="surah.data[1]" class="d-flex fst-italic" [ngClass]="{'flex-row-reverse': surah.data[1].edition.direction== 'rtl' }">
          <div   class="footer-fieldSM"><strong> {{aya.numberInSurah}}</strong></div>
          {{surah.data[1].ayahs[i].text}}
      </span>
      </li>
    </ul>
  </div>