.footer-field {
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    text-align: center;
    //color: white;
    background-size: cover;
    background-image: url(../../../assets/SVG/16.svg);
}

.footer-fieldSM {
    width: 40px;
    height: 23px;
    display: grid;
    align-items: center;
    text-align: center;
    margin-right: 4px;
    //color: white;
    font-size: small;
    background-size: cover;
    background-image: url(../../../assets/SVG/23.svg);
}

li{
    transition: 0.3s all;
    cursor: pointer;
}

li:hover{
   // background: #20c9971a;
    //outline: 2px solid #20c997;
    box-shadow: -5px 0px 0px 0px #20c997, 5px 0px 0px 0px #20c997;
}

.madenianHeading-icon {
    width: 35pt;
    height: 52px;
    display: grid;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-image: url(../../../assets/SVG/2.svg);
}

.MeccanHeading-icon {
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-image: url(../../../assets/SVG/20.svg);
}

.playIcon{
    width: 25px;
    height: 25px;
    display: grid;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-image: url(../../../assets/SVG/play_circle.svg);
}

.playIcon:hover{
    transform: scale(1.1);
}

.playerInfo{
    width: 100%;
    background-color: #dcf8c6;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.player{
    background-color: #20c996;
    z-index: 16;
    position: sticky;
    top: 8px;
    display: flex;
    flex-direction: row;
}
  audio::-webkit-media-controls-panel {
    background-color: #20c997;
    opacity: 0.99;
    color: #fff;
}

.ayatNumberContainer {
    padding-left: 0.2px;
    padding-right: 0.2px;
    background: #20c997;
    border-radius: 4px;
    text-align: center;
    width: 18px;
    height: 18px;
    border: 1px dashed #111211;
    font-size: 14px;
}
.active{
    background: #dcf8c6;
    //outline: 2px solid #20c997;
   // box-shadow: 0px 0px 0px 0px #20c997, 1px 0px 0px 0px #20c997;
}

.spearkerIcon{
    position: absolute;
    left: 4px;
    font-size: 14px;
}

.list-group-item{
    padding: 2px;
}