.sidebar-nav {
    position: absolute;
    top: 0;
    width: 70px;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
    overflow: hidden;
    }